.card {
    background-color: #ffffff;
    padding: 20px;

}

body {
    display: grid;
    grid-template-rows: repeat(5, 1fr 2fr);
    grid-template-columns: repeat(5, 1fr 2fr);
    background-color: #e9ebee;
    padding: 20px;

}

.header {
    grid-column: 1 / -1;
}