.card {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 25px;
    max-width: 400px;

}

body {
    background-color: #e9ebee;
    padding: 20px;

}

.header {
    margin-bottom: 25px;
}